<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
    <div class="container py-3">
        <div class="row">
            <!--Sign up form -->
            <div class="col-md-6 mb-4">
                <form class="input-group" id="form-footer">
                    <input type="text" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-light">Sign up</button>
                    </div>
                </form>
            </div>
            <!--End form-->
        </div>
    </div>
    <!-- End container -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-4">© 2020 Copyright: Angular Lesson</div>

  </footer>
  <!-- Footer -->
