<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#"> {{ title }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" (click)="toggleCollapseNavbar()"></span>
        </button>
      
        <div class="collapse navbar-collapse" [class.show]="isCollapsed === true" id="navbarSupportedContent"> 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let categorie of categories">
                    <a class="nav-link" href="#"> {{ categorie.name }} </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- [ngClass]="{disabled: (students === null) ? true : false}" -->