* {
    text-align: center;
}

h1 {
    color: rgb(54, 54, 54);
    padding-top: 10px;
}

h2 {
    color:  rgb(231, 48, 24);
}

#author {
    position: fixed;
    bottom: 100px;
    background-color: white;
    border: 3px solid white;
    width: 200px;
    height: auto;
}

.stars > i {
    color:  rgb(231, 48, 24);
}
